## Import The Library

In [1]:
import pandas as pd 
import numpy as np

## Read CSv File

In [2]:
df = pd.read_csv('D:\github\DS_Pro_homework\Review of Macbook and Window(local_data).csv')
df

,Department,Type of Laptop,Type of Macbook,Review of Macbook,Type of Window's Laptop,Review of Window's Laptop,Unnamed: 6
0,データサイエンス学科,Macbook,Macbook Pro,よかった Good,NaN,NO,NaN
1,データサイエンス学科,Macbook,Macbook Pro,とてもよかった Very Good,NaN,NaN,NaN
2,データサイエンス学科,Macbook,Macbook Air,よかった Good,DELL,よかった Good,NaN
3,データサイエンス学科,Macbook,Macbook Pro,普通 Normal,NaN,NaN,NaN
4,Bachelor of Psychology,Window Computer,NaN,NaN,ASUS,普通 Normal,NaN
...,...,...,...,...,...,...,...
71,データサイエンス学科,Macbook,Macbook Pro,よかった Good,TUKUMO,とてもよかった Very Good,NaN
72,データサイエンス学科,Macbook,Macbook Pro,とてもよかった Very Good,LG,よかった Good,NaN
73,データサイエンス学科,Macbook,Macbook Air,普通 Normal,なし,なし,NaN
74,データサイエンス学科,Macbook,Macbook Pro,よかった Good,DELL,よかった Good,NaN
75,データサイエンス学科,Macbook,Macbook Air,とてもよかった Very Good,NaN,NaN,NaN

## Check The unique values

In [3]:
unique_values = {col: df[col].unique() for col in df.columns}
unique_values

{'Department': array(['データサイエンス学科', 'Bachelor of Psychology', '航運管理', 'software',
        '幼児教育学科', '写真学科', 'テキスタイル', '国際観光学部', '社会',
        'Library and Information Science', '総合情報学科', '俳優', '言語学院', '日本語',
        'Management of Culture Industries', '哲学科', '法学', 'Psychology ',
        '物理学科'], dtype=object),
 'Type of Laptop': array(['Macbook', 'Window Computer'], dtype=object),
 'Type of Macbook': array(['Macbook Pro', 'Macbook Air', nan], dtype=object),
 'Review of Macbook': array(['よかった Good', 'とてもよかった Very Good', '普通 Normal', nan, '最悪 Bad'],
       dtype=object),
 "Type of Window's Laptop": array([nan, 'DELL', 'ASUS', 'IDK', 'Surface', 'Lenovo', 'Microsoft',
        'レッツノート', 'RAZER', 'lenovo', 'HP', 'マウスコンピューター', '自作', 'Huawei',
        'ACER', 'なし', 'TUKUMO', 'LG'], dtype=object),
 "Review of Window's Laptop": array(['NO', nan, 'よかった Good', '普通 Normal', 'とてもよかった Very Good',
        '最初は困惑、慣れたら普通。', 'なし', '最悪 Bad'], dtype=object),
 'Unnamed: 6': array([nan])}

## Translate the unique value

In [4]:
translations_department = {
    'データサイエンス学科': 'Department of Data Science',
    'Bachelor of Psychology': 'Bachelor of Psychology',
    '航運管理': 'Shipping Management',
    'software': 'Software',
    '幼児教育学科': 'Department of Early Childhood Education',
    '写真学科': 'Department of Photography',
    'テキスタイル': 'Textile',
    '国際観光学部': 'Faculty of International Tourism',
    '社会': 'Social Sciences',
    'Library and Information Science': 'Library and Information Science',
    '総合情報学科': 'Department of Comprehensive Information Studies',
    '俳優': 'Actor',
    '言語学院': 'Language Institute',
    '日本語': 'Japanese Language',
    'Management of Culture Industries': 'Management of Culture Industries',
    '哲学科': 'Department of Philosophy',
    '法学': 'Law',
    'Psychology ': 'Psychology',
    '物理学科': 'Department of Physics'
}

df['Department'] = df['Department'].map(translations_department)

df.head()

,Department,Type of Laptop,Type of Macbook,Review of Macbook,Type of Window's Laptop,Review of Window's Laptop,Unnamed: 6
0,Department of Data Science,Macbook,Macbook Pro,よかった Good,NaN,NO,NaN
1,Department of Data Science,Macbook,Macbook Pro,とてもよかった Very Good,NaN,NaN,NaN
2,Department of Data Science,Macbook,Macbook Air,よかった Good,DELL,よかった Good,NaN
3,Department of Data Science,Macbook,Macbook Pro,普通 Normal,NaN,NaN,NaN
4,Bachelor of Psychology,Window Computer,NaN,NaN,ASUS,普通 Normal,NaN

In [5]:
translations_macbook_type = {
    'Macbook Pro': 'Macbook Pro',
    'Macbook Air': 'Macbook Air'
}

translations_macbook_review = {
    'よかった Good': 'Good',
    'とてもよかった Very Good': 'Very Good',
    '普通 Normal': 'Normal',
    '最悪 Bad': 'Bad'
}

translations_windows_type = {
    'DELL': 'DELL',
    'ASUS': 'ASUS',
    'IDK': 'IDK',
    'Surface': 'Surface',
    'Lenovo': 'Lenovo',
    'Microsoft': 'Microsoft',
    'レッツノート': 'Let’s Note',
    'RAZER': 'RAZER',
    'lenovo': 'Lenovo',
    'HP': 'HP',
    'マウスコンピューター': 'Mouse Computer',
    '自作': 'Custom Built',
    'Huawei': 'Huawei',
    'ACER': 'ACER',
    'なし': 'None',
    'TUKUMO': 'TUKUMO',
    'LG': 'LG'
}

translations_windows_review = {
    'NO': 'NO',
    'よかった Good': 'Good',
    '普通 Normal': 'Normal',
    'とてもよかった Very Good': 'Very Good',
    '最初は困惑、慣れたら普通。': 'Confused at first, normal after getting used to it.',
    'なし': 'None',
    '最悪 Bad': 'Bad'
}

df['Type of Macbook'] = df['Type of Macbook'].map(translations_macbook_type)
df['Review of Macbook'] = df['Review of Macbook'].map(translations_macbook_review)
df["Type of Window's Laptop"] = df["Type of Window's Laptop"].map(translations_windows_type)
df["Review of Window's Laptop"] = df["Review of Window's Laptop"].map(translations_windows_review)

df.head()

,Department,Type of Laptop,Type of Macbook,Review of Macbook,Type of Window's Laptop,Review of Window's Laptop,Unnamed: 6
0,Department of Data Science,Macbook,Macbook Pro,Good,NaN,NO,NaN
1,Department of Data Science,Macbook,Macbook Pro,Very Good,NaN,NaN,NaN
2,Department of Data Science,Macbook,Macbook Air,Good,DELL,Good,NaN
3,Department of Data Science,Macbook,Macbook Pro,Normal,NaN,NaN,NaN
4,Bachelor of Psychology,Window Computer,NaN,NaN,ASUS,Normal,NaN

## Create new csv file

In [6]:
new_file_path = 'Review of Macbook and Window(local_data)_new.csv'  
df.to_csv(new_file_path, index=False)

In [7]:
df_new = pd.read_csv('Review of Macbook and Window(local_data)_new.csv')
df_new

,Department,Type of Laptop,Type of Macbook,Review of Macbook,Type of Window's Laptop,Review of Window's Laptop,Unnamed: 6
0,Department of Data Science,Macbook,Macbook Pro,Good,NaN,NO,NaN
1,Department of Data Science,Macbook,Macbook Pro,Very Good,NaN,NaN,NaN
2,Department of Data Science,Macbook,Macbook Air,Good,DELL,Good,NaN
3,Department of Data Science,Macbook,Macbook Pro,Normal,NaN,NaN,NaN
4,Bachelor of Psychology,Window Computer,NaN,NaN,ASUS,Normal,NaN
...,...,...,...,...,...,...,...
71,Department of Data Science,Macbook,Macbook Pro,Good,TUKUMO,Very Good,NaN
72,Department of Data Science,Macbook,Macbook Pro,Very Good,LG,Good,NaN
73,Department of Data Science,Macbook,Macbook Air,Normal,NaN,NaN,NaN
74,Department of Data Science,Macbook,Macbook Pro,Good,DELL,Good,NaN
75,Department of Data Science,Macbook,Macbook Air,Very Good,NaN,NaN,NaN